@{
    ViewBag.Title = "О нас";
}

<h2>О нас</h2>

<br/>
<address>
    <strong>Телефон тех. поддержки:</strong> 
    +7(945)123-45-67
</address>

<address>
    <strong>Почта тех. поддержки:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>
